.head {
  height: 100px;
}
.frames {
  position: relative;
  height: calc(100vh - 120px);
}
.frames > iframe {
  display: none;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  visibility: hidden;
}
.frames > .active {
  visibility: visible;
  display: block;
}
.buttons {
  z-index: 1;
  width: fit-content;
}
