.left {
  max-width: 300px;
  overflow: hidden;
  margin: auto;
  max-height: 200px;
  border-radius: 10px;
  margin-right: 30px;
}
.left img {
  object-position: center;
  object-fit: cover;
  width: 100%;
  margin: auto;
}
.right {
}
section {
  display: flex;
  max-height: 200px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #45555F;
}
.head {
  margin: auto;
  margin-bottom: 50px;
}
.right * {
  margin-top: 3px;
  margin-bottom: 3px;
}
.right span {
  text-overflow: ellipsis;
}
