body {
  background-image: url(/giphy.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body::-webkit-scrollbar {
  display: none;
}
.head {
  margin-left: 20px;
  color: white;
  background-color: #455aa3;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  margin-bottom: 30px;
}
.divider {
  height: 2px;
  background-color: white;
  max-width: 30%;
}
.head * {
  padding: 0;
  margin: 0;
}
.left {
  margin-left: 20px;
  width: 20%;
}
.contact a {
  color: white;
  text-decoration: none;
}
.contact i {
  margin-right: 5px;
}
.contact > div {
  margin: 10px;
}
.flex {
  display: flex;
  justify-content: start;
  height: -webkit-fill-available;
  padding-bottom: 30px;
}
.right {
  margin-left: 20px;
  width: -webkit-fill-available;
  height: 75vh;
  overflow-y: scroll;
}
.right::-webkit-scrollbar {
  display: none;
}
.right > section {
  margin-bottom: 20px;
}
.right > section > h1 {
  margin-top: 0px;
  color: white;
}
.right .divider {
  width: 90%;
  max-width: 90%;
}
.right h2 {
  color: white;
}
.right h3,
.item h3 {
  font-weight: 500;
}
.right sub {
  font-style: italic;
  color: white;
  margin: 0px;
}
.right h2,
.right h3 {
  margin: 0;
}
.item {
  margin-bottom: 20px;
}
.item ul {
  list-style: circle;
  margin: 0;
}
.hint {
  color: rgb(34, 30, 30) !important;
}
.item a {
  text-decoration: none;
}